.content-container .about-table-row {
    display: table-row;
}

.content-container .about-table-row .about-table-cell {
    display: table-cell;
    width: 50%;
    padding: 10px;
}

.content-container .about-table-row .about-table-cell .portrait {
    position: absolute;
}

.content-container .about-table-row .about-table-ce0ll .about {
    position: absolute;
}

.picture-me {
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    display: block;
    width: 50%;
    height: 50%;
}

.typist-about {
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    margin-top: 13%;
}

.typist-mobile {
    font-family: monospace;
    font-weight: bold;
    font-size: 13px;
    margin-top: 13%;
    position: center;
    'margin-left': auto;
    'margin-right': auto;
}

.about-text {
    margin-top: 5%;
    width: 62%;
    font-family: "Lora", serif;
}

.mobile-container {
    margin-top: 30%;
    width: 80%;
    display: block;
    text-align: center;
    position: center;
    margin-left: auto;
    margin-right: auto
}

.mobile-me {
    position: center;
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

