.backgroundVideo {
    position: fixed;
    width: 100%;
    height: auto;
    opacity: 50%;
    user-select: none;
}

.homeName {
    margin-top: 15%;
    display: block;
    height: auto;
    position: center;
    width: auto;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    user-select: none;
}

#browser-links {
    letter-spacing: 2px;
    margin: 10px auto 20px;
    color: black;
    text-align: center;
    font-family: "Poiret One", sans-serif;
    font-size: 100%;
    height: 20px;
    text-shadow: 1px 0 black;
    user-select: none;
}

#mobile-links {
    letter-spacing: 2px;
    margin-top: 25px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: "Poiret One", sans-serif;
    user-select: none;
}

.app-link {
    transition: 1s;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    text-shadow: 1px 0px black
}

.app-link:hover {
    transition: 1s;
    color: red;
    text-shadow: 2px 0 black;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.icons-container {
    margin-top: 10%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.iconify {
    transition: 1s;
    color: black;
    height: 30px;
    width: 30px;
}

.iconify:hover {
    transition: 1s;
    color: red;
}

.iconify:active {
    color: white;
}