.background-image {
    position: fixed;
    width: 100%;
    height: auto;
}

.nav-bar {
    position: sticky;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.nav-name {
    height: auto;
    width: 30%;
    margin-left: 1%;
    margin-top: -1%;
}

.nav-links-container {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 50%;
    letter-spacing: 2px;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    text-shadow: 1px 0 black;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    transition: 1s;
    color: crimson;
}

.content-container {
    position: center;
    width: 70%;
    height: 450px;
    display: block;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    z-index: -4;
    background-color: white;
    border-style: ridge;
    padding: 20px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
}

.mobile-container {
    margin-top: 30%;
    width: 80%;
    display: block;
    text-align: center;
    position: center;
    margin-left: auto;
    margin-right: auto;
}

::placeholder {
    color: gray;
}