#content-container-test {
    position: center;
    width: 70%;
    height: 450px;
    display: block;
    margin-top: 5%;
    margin-right: auto;
    margin-left: auto;
    z-index: -4;
    background-color: white;
    border-style: ridge;
}