.App {
  text-align: center;
}

.ThisIsMyName {
  /*animation: ThisIsMyName-spin infinite 20s linear;*/
  /*height: 40vmin;*/
  pointer-events: none;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.delay-1 {
  animation-delay: .3s;
}
.delay-15 {
  animation-delay: .45s;
}
.delay-2 {
  animation-delay: .6s;
}
.delay-25 {
  animation-delay: .75s;
}
.delay-3 {
  animation-delay: .9s;
}
.delay-35 {
  animation-delay: 1.05s;
}
.delay-4 {
  animation-delay: 1.2s;
}

.icons {
  align-items: center;
}

.App-link {
  color: white;  
}
